@font-face {
    font-family: 'Parchement-Regular';
    src: url('fonts/PARCHM.ttf') format('truetype');
    /* Optionally, you can specify additional font formats for better compatibility */
  }

/*-----------------------------------------------------------------------------------*/

/*CLASSES*/

html {
    max-height: 100%;
}

.ornament {
    width: 5vw;
}

.socials {
    width: 3.5vw;
    margin: 0 0.5rem 0 0.5rem; 

}

.art-wrapper {
    min-width: 28rem;
    min-height: 28rem;
    background-color: rgba(128, 255, 0, 0.107);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);
    /* margin-top: 1rem;
    margin-bottom: 1rem;  */
    position: relative;
    box-sizing: border-box; 

}

.artPiece {
    width: 29rem;
    object-fit: cover;
    overflow: hidden;
}

.indicator-dot {
    background-color: black;
    width: 1.3vw;
    height: 0.4em;
    gap: 2px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);
} 

.current-dot {
    color: white;
}

.selected-art-piece {
border: 1px solid black;
}

/*---------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 62,5%;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    z-index: 1;
    overflow: hidden; 

}


/*-----------------------------------------------------------------------------------*/

/*LEFT SECTION*/

#left-section {
    max-width: 30%;
    flex: 1;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}

#left-general-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.pause-button {
    width: 4rem;
    height: 4rem;
    position: absolute;
    border-radius: 100%;
}

.play-button {
    width: 4rem;
    height: 4rem;
    position: absolute;
    border-radius: 100%;
}


h1 {
    color: white;
    font-family: 'Parchement-Regular';
    font-size: 6rem;
    position: absolute;
    z-index: -200;
    display: none;
}

h2,  h3{
    font-family: 'Sansita', sans-serif;
    text-transform: uppercase;
    font-size: 1.5vw;
    color: white;
    margin: 0 0.4em 0 0.4em;
}


p {
    color: white;
}

#h1-image {
    width: 22vw;
}



#subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#profile-pic {
    width: 15vw;
    border-radius: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


#about-wrapper {
    display: flex;
    flex-direction: row;
}

#about-wrapper img {
    width: 8vw;
}

#about-text {
    text-align: justify;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    max-height: 12.5%;
    overflow: scroll;
    scrollbar-width: none;
    margin-bottom: 0.5rem;
    
}

#about-text p {
    grid-column: 1 / -1;
    text-align: justify;
    margin: 0.5rem 0 0.5rem 0;
}

#about-bottom-image {
    width: 15vw;
}

#socials {
    margin-top: 1rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    /* width: 100%; */
    /* background-color: red;  */
}

/*-----------------------------------------------------------------------------------*/
/*RIGHT SECTION*/

#right-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    background: linear-gradient(to top right, rgba(41, 43, 38, 1), rgba(255, 255, 255, 1));
    overflow: hidden;
    position: relative;
}

#current-song-info {
    /* background-color: rgb(255, 0, 0);  */
    z-index: 90;
    width: fit-content;
    height: fit-content;
    height: 15%;
    width: 29rem;
    margin-bottom: 1rem;
    position: absolute;
    left: 25%;  
    top: 91.9%;  
    transform: translate(50%, -50%);  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#artworks-title {
    font-family:'Sansita', sans-serif ;
    text-transform: uppercase;
    font-size: 14.83vw;
    margin-top: -7.1%; 
    background-color: rgba(127, 255, 212, 0);
    position: absolute;
}

#compositions-title {
    font-family:'Sansita', sans-serif ;
    text-transform: uppercase;
    font-size: 10.98vw;
    margin-left: -0.5%; 
    margin-top: -5.21%; 
    background-color: rgba(127, 255, 212, 0);
    position: absolute;
}

/*------------------------------------------------*/
/*CARROUSSEL ELEMENTS*/

#app {
    /* height: 99%; */
    flex: 1;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#art-gallery {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 100px;
    align-items: center;
    justify-content: space-between;
    height: 90%;
    width: 100%;
    margin-top: 5rem;
    /* background: linear-gradient(to top left, rgba(255, 255, 255, 0.5), rgba(2, 2, 2, 0.5)); */
    position: relative;

    scrollbar-width: none; /* Hide scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide scrollbar in Internet Explorer 10+ */
}

.art-info {
    height: 15%;
    width: 29rem;
    margin-bottom: 1rem;
    position: absolute;
    left: 25%;  
    top: 91.9%;  
    transform: translate(-50%, -50%);  

    
    
    margin-top: 2rem;
}

#main-image-area {
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.7);
}

#previous-image-area {
    margin-left: -10vw;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);
}

#next-image-area {
    margin-right: -10vw;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);
}

h5 {
    color: white;
    font-size: 1.5rem;
    font-family:math;
}
/*--------------------------------------------*/


#footer {
    
    flex: 1;
    display: flex;
    align-items: end;
    justify-content: center;
    /* background-color: green; */
    max-height: 5%;
    position: relative;

}

#indicator-row {
    display: flex;
    gap: 2px;
    margin-bottom: 1rem;
}

#next-img {
    position: relative;
    
}


#zoomDrawing {
    position: absolute;
    background-color: hsla(0, 100%, 100%, 60%);
    width: 100%;
    height: 100%;
    
}

button {

}

