@font-face {
    font-family: 'Parchement-Regular';
    src: url('fonts/PARCHM.ttf') format('truetype');
    /* Optionally, you can specify additional font formats for better compatibility */
  }

/*-----------------------------------------------------------------------------------*/

/*CLASSES*/

.ornament {
    width: 5vw;
}

.socials {
    width: 3.5vw;
    margin: 0 0.5rem 0 0.5rem; 

}

.art-wrapper {
    min-width: 28rem;
    min-height: 28rem;
    background-color: rgba(128, 255, 0, 0.107);
    display: flex;
    justify-content: center;
    align-items: center;

}

.artPiece {
    width: 29rem;
    object-fit: cover;
    overflow: hidden;
}

.indicator-dot {
    background-color: black;
    width: 1.3vw;
    height: 0.4em;
    gap: 2px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);
} 


* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 62,5%;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    z-index: 1;
    /* overflow: hidden; */

}


/*-----------------------------------------------------------------------------------*/

/*LEFT SECTION*/

#left-section {
    max-width: 30%;
    flex: 1;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#left-general-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}



h1 {
    color: white;
    font-family: 'Parchement-Regular';
    font-size: 6rem;
    position: absolute;
    z-index: -200;
}

h2,  h3{
    font-family: 'Sansita', sans-serif;
    text-transform: uppercase;
    font-size: 1.5vw;
    color: white;
    margin: 0 0.4em 0 0.4em;
}


p {
    color: white;
}

#h1-image {
    width: 22vw;
}



#subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#profile-pic {
    width: 15vw;
    border-radius: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


#about-wrapper {
    display: flex;
    flex-direction: row;
}

#about-wrapper img {
    width: 8vw;
}

#about-text {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
}

#about-text p {
    grid-column: 1 / -1;
    text-align: justify;
    margin: 0.5rem 0 0.5rem 0;
}

#about-bottom-image {
    width: 15vw;
}

#socials {
    margin-top: 1rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* background-color: red; */
}

/*-----------------------------------------------------------------------------------*/
/*RIGHT SECTION*/

#right-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: linear-gradient(to top right, rgba(41, 43, 38, 1), rgba(255, 255, 255, 1));
    overflow: hidden;
}

h4 {
    font-family:'Sansita', sans-serif ;
    text-transform: uppercase;
    font-size: 14.83vw;
    margin-top: -7.1%; 
    background-color: rgba(127, 255, 212, 0);
}


/*------------------------------------------------*/
/*CARROUSSEL ELEMENTS*/

#app {
    /* height: 99%; */
    flex: 1;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#art-gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80%;
    width: 100%;
    margin-top: 0.5rem;
    /* background-color: blue; */
}

.art-info {
    height: 15%;
    width: 29rem;
    /* background-color: blueviolet; */
}

#main-image-area {
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.7);
}

#previous-image-area {
    margin-left: -10vw;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);
}

#next-image-area {
    margin-right: -10vw;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);
}

h5 {
    color: white;
    font-size: 1.5rem;
    font-family:math;
}
/*--------------------------------------------*/


#footer {
    
    flex: 1;
    display: flex;
    align-items: end;
    justify-content: center;
    /* background-color: green; */
    max-height: 5%;

}

#indicator-row {
    display: flex;
    gap: 2px;
    margin-bottom: 1rem;
}

#next-img {
    position: relative;
    
}